<div class="lista-container">
  <h1>Lista de Productos</h1>
  <button class="btn-new" (click)="abrirFormulario()">Nuevo Producto</button>
  <button class="btn-filter" (click)="filtrarPorStock()">
    {{ filtrarActivos ? 'Ver Todos' : 'Ver Activos' }}
  </button>

  <p *ngIf="loading">Cargando productos...</p>
  <p *ngIf="error" class="error">{{ error }}</p>

  <table *ngIf="!loading && productos.length > 0">
    <thead>
      <tr>
        <th>ID</th>
        <th>Nombre</th>
        <th>Precio</th>
        <th>Stock</th>
        <th>Estado</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let e of productos">
        <td>{{ e.id }}</td>
        <td>{{ e.nombre }}</td>
        <td>{{ e.precio }}</td>
        <td>{{ e.stock }}</td>
        <td>
          <span 
            class="badge" 
            [class.activo]="e.estado" 
            [class.inactivo]="!e.estado">
            {{ e.estado ? 'Activo' : 'Inactivo' }}
          </span>
        </td>
        <td>
          <button class="btn-edit" (click)="abrirFormulario(e)">Editar</button>
          <button class="btn-delete" (click)="eliminar(e.id)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>

  <p *ngIf="!loading && productos.length === 0">No hay productos registrados.</p>

  <!-- FORMULARIO SIMPLE -->
  <div class="modal" *ngIf="showForm">
    <div class="modal-content">
      <h2>{{ editMode ? 'Editar Producto' : 'Nuevo Producto' }}</h2>
      <form #f="ngForm" (ngSubmit)="guardar(f)">
        <label>Nombre</label>
        <input 
          [(ngModel)]="selected.nombre" 
          name="nombre" 
          required
          minlength="3"
          pattern="^[a-zA-ZÀ-ÿ\s]+$"
          #nombre="ngModel"
        />
        <div class="error-msg"
            *ngIf="nombre.invalid && (nombre.touched || nombre.dirty)">
          
          <span *ngIf="nombre.errors?.['required']">El nombre es obligatorio.</span>
          <span *ngIf="nombre.errors?.['minlength']">El nombre es muy corto.</span>
          <span *ngIf="nombre.errors?.['pattern']">Solo se permiten letras.</span>
        </div>
        <div class="error-msg" *ngIf="nombreDuplicado">
          Este nombre ya está registrado.
        </div>

        <label>Precio</label>
        <input 
          [(ngModel)]="selected.precio" 
          name="precio" 
          type="number" 
          required
          min="0"
          #precio="ngModel"
        />
        <div class="error-msg"
            *ngIf="precio.invalid && (precio.touched || precio.dirty)">

          <span *ngIf="precio.errors?.['required']">El precio es obligatorio.</span>
          <span *ngIf="precio.errors?.['min']">Debe ser mayor o igual a 0.</span>
        </div>

        <label>Stock</label>
        <input 
          [(ngModel)]="selected.stock"
          type="number" 
          name="stock" 
          required
          min="0" 
          #stock="ngModel"
        />
        <div class="error-msg"
            *ngIf="stock.invalid && (stock.touched || stock.dirty)">
          
          <span *ngIf="stock.errors?.['required']">El stock es obligatorio.</span>
          <span *ngIf="stock.errors?.['min']">Debe ser mayor o igual a 0.</span>
        </div>

        <label>Estado</label>
          <div class="switch">
            <input 
              type="checkbox" 
              id="estadoToggle"
              [(ngModel)]="selected.estado"
              name="estado"
            />
            <label for="estadoToggle">{{ selected.estado ? 'Activo' : 'Inactivo' }}</label>
          </div>

        <div class="modal-buttons">
          <button 
            type="submit" 
            class="btn-save"
            [disabled]="f.invalid"
            novalidate
          >
            {{ editMode ? 'Actualizar' : 'Crear' }}
          </button>
          <button type="button" class="btn-cancel" (click)="cerrarFormulario()">Cancelar</button>
        </div>
      </form>
    </div>
  </div>
</div>